.MyReviewLogin-container {
  height: 87vh;

  position: relative;
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  z-index: 100;
}
.MyReviewLogin-rv {
  background-image: url("../../../Svg/MyReviewRv.svg");
  background-size: cover;
  background-position: center;
}
.LoginLogo {
  width: 25%;
  height: auto;
}
